<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Character encoding and viewport settings for responsive design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title displayed in the browser's title bar or tab -->
    <title>IntelliTax</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Google Fonts Links For Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
     <!-- Favicon for the website -->
    <link rel="shortcut icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" type="image/x-icon">

    </style>
  </head>
  <body>
    <!-- Header section containing the navigation bar -->
    <header>
      <nav class="navbar">
        <!-- Logo of the IntelliTax application -->
        <a class="logo" href="#">IntelliTax<span>.</span></a>
        <!-- Navigation menu links -->
        <ul class="menu-links">
          <span id="close-menu-btn" class="material-symbols-outlined">close</span>
          <!-- Menu items linking to various sections of the site -->
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
        <!-- Hamburger menu icon for mobile view -->
        <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
      </nav>
    </header>
     <!-- Hero section with introductory content -->
    <section class="hero-section">
      <div class="content" style="float: left;">
        <h2>Virtual Tax assistant <span style="color: white;">IntelliTax</span></h2>
        <p>
          IntelliTax is a virtual tax assistant designed to empower users with a seamless and informed tax-filing 
experience. Unlike traditional tax preparation tools, IntelliTax focuses on guiding users through the taxfiling process, answering queries, providing tax calculations, and offering personalized suggestions to 
optimize tax liabilities
        </p>
        <!-- Button linking to the login page -->
        <button><a href="/login" style="color: white; font-size:1rem; text-decoration:none">Login</a></button>
      </div>
      
    </section>
    
  </body>
</html>